<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 类型别名 -->
    <typeAliases>
        <typeAlias alias="Student" type="net.mybatis.chapter2.model.Student"/>
    </typeAliases>

    <!-- 映射map -->
    <mappers>
    </mappers>
</configuration>